@import './style.css';

.article-item {
    /*margin: 0 32px 0 32px; */
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    width: 353px;
}

.article-text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: var(--primary-color);
    transition: opacity 0.4s;
}
.article-text-wrapper:hover {
    opacity: 1;
    border: 2px solid var(--secondary-color);
}

.article-image-text {
    padding-top: 50px;
    font-weight: bold;
}

.article-item img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {
    .article-item {
        height: 100px;
        width: 88px;
    }
}