@import "./style.css";

.header-brand {
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

.header-brand p {
    font-size: 0.8rem;
}