@import "./style.css";

nav {
    padding: 2rem;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
}

.header-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

.header-brand p {
    font-size: 0.8rem;
}

.header-link {
    text-decoration: none;
    color: inherit;
}