@import "./style.css";

.not-found {
  text-align: center;
  padding: 2rem;
}

.not-found h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-found p {
  margin-bottom: 1rem;
}

.not-found a {
  color: blue;
  text-decoration: underline;
}
.not-found a:hover {
  text-decoration: none;
}