
:root {
    --primary-color: #F7F7F7;
    --primary-color-hot: #FFFFFF;
    --hero-text-color: #F7F7F7;
    --secondary-color: #080808;
    --accent-color: #A0834E;
    --accent-color-hot: #BD9F69;

    --font-primary: "Sorts Mill Goudy", serif;
    --font-secondary: "Cinzel", serif;
}
* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-primary);
}

h2 {
    font-family: var(--font-secondary);
}

body {
    padding: 0;
    margin: 0;
}

.hero {
    padding: 120px;
    margin-bottom: 1rem;
    background-image: url("/img/taps.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--hero-text-color);
    font-size: 200%;
}

.hero-text {
    text-align: center;
}

.section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-section {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    transition: transform 0.3s ease;
}

.about h2 {
    margin-bottom: 1.5rem;
}

.about-content {
    display: grid;
    margin-right: 10rem;
    margin-left: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}

.about-img {
    width: 75%;
    grid-column: 1;
    justify-self: center;
}

.about p {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}
@media (max-width: 768px) {
    .hero {
        padding: 30px;
        height: 400px;
        font-size: 20px;
    }
    .section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .article-section {
        padding: 0;
    }
    .about-content {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .about-img {
        content-visibility: hidden;
    }
}

