
:root {
    --primary-color: #F7F7F7;
    --primary-color-hot: #FFFFFF;
    --hero-text-color: #F7F7F7;
    --secondary-color: #080808;
    --accent-color: #A0834E;
    --accent-color-hot: #BD9F69;

    --font-primary: "Sorts Mill Goudy", serif;
    --font-secondary: "Cinzel", serif;
}
* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-primary);
}

h2 {
    font-family: var(--font-secondary);
}

body {
    padding: 0;
    margin: 0;
}

.hero {
    padding: 150px;
    margin-bottom: 1rem;
    background-image: url("/img/taps.jpg");
    height: 1150px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--hero-text-color);
    font-size: 200%;
}

.hero-heading {
    text-align: center;
}

.section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

